.signin {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(https://i.ibb.co/85Mk9tT/pexels-ahmed-aqtai-63572.jpg);
    color: #fff;
    background-position: center;
    background-size: cover;
}

.signin a,
h1 {
    color: chocolate;
    text-decoration: none;
}